
@font-face{
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Thin.ttf'),url('/assets/fonts/Lato-Thin.ttf');
}

@font-face{
    font-family: 'Ciutadella';
    src: url('/assets/fonts/Ciutadella-Regular.ttf'),url('/assets/fonts/Ciutadella-Regular.ttf');
}

@font-face{
    font-family: 'Ciutadella-Md';
    src: url('/assets/fonts/Ciutadella-Medium.ttf'), url('/assets/fonts/Ciutadella-Medium.ttf')
}

@font-face{
    font-family: 'AbrilFatface';
    src: url('/assets/fonts/AbrilFatface-Regular.ttf'), url('/assets/fonts/AbrilFatface-Regular.ttf')
}

@font-face{
    font-family: 'ch';
    src: url('/assets/fonts/NotoSansCJKjp-Regular.otf'), url('/assets/fonts/NotoSansCJKjp-Regular.otf')
}

body {
    color:grey;
    background-color: black;
    text-align: center;  
    font-size: 100%;
    line-height: 1.6875;
    font-family: ch, AbrilFatface, Ciutadella, Ciutadella-Md, Lato;
}

.text{
    font-family: Ciutadella;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.text.abr{
    /* font-family: AbrilFatface; */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.text.md{
    font-family: Ciutadella-Md;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

}

.text.H2{
    font-family: Ciutadella-Md;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    font-size:1.5vw;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.text.H1{
    font-family: Ciutadella-Md;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    font-size:1.0vw;
    margin: 0;
    padding: 0;
}

.text.small{
    font-family: Ciutadella-Md;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    font-size:0.9vw;
    margin: 0;
    padding: 0;
}

.text.xsmall{
    font-family: Ciutadella-Md;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    font-size:0.7vw;
    margin: 0;
    padding: 0;
}

.lightfont{
    font-family: system-ui;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    margin: 0;
    padding: 0;
}