<!-- <div id="app-weatherdetail" class="mainBody text modal fade" tabindex="-1">
    <div style="margin:0 auto; width: 85%; height:95%">
        <div style="position: relative; height:10%; width: 100%; background-color: red;">
            <div style="text-align: left;">
                <div>REDLANDS, CA</div>
                <div>TUESDAY, MARCH 11</div>
            </div>
        </div>
        <div style="position: relative; height: 90%; width:100%">
            <div style=" position:relative; width:50%; height:100%; float: left;">
                <div style="width:100%; height: 50%">
                    <div style="width: 50%; position:relative; float: left; height:100%">
                        <div style="position: relative; float: left; width:100%; text-align:left;">Day</div>
                        <div style="width: 50%; height:35%; position: relative; float: left; "></div>
                        <div style="width:50%; height: 35%; position:relative; float:left;">
                            <div style="width:100%; font-size:45px; height: 65%;">78</div>
                            <div style="width: 100%; height:35%;">Clear</div>
                        </div>
                        <div style="width:100%;">
                            <div class="weather-DailyStatus-lbl">Wind</div>
                            <div class="text md"
                                style="width: 50%; font-size: 11px; letter-spacing: 1.5px; color:white; text-align:left; margin-top: 2%; height:35%; position: relative; float: left;">
                                NE 6 mph</div>
                            <div class="weather-DailyStatus-lbl">Humidity</div>
                            <div
                                style="width: 50%; font-size: 11px; letter-spacing: 1.5px; color:white; text-align:left; margin-top: 2%; height:35%; position: relative; float: left;">
                                17 %</div>
                            <div class="weather-DailyStatus-lbl">Sunrise</div>
                            <div
                                style="width: 50%; font-size: 11px; letter-spacing: 1.5px; color:white; text-align:left; margin-top: 2%; height:35%; position: relative; float: left;">
                                7:03 AM</div>
                            <div class="weather-DailyStatus-lbl">Precip Chance</div>
                            <div
                                style="width: 50%; font-size: 11px; letter-spacing: 1.5px; color:white; text-align:left; margin-top: 2%; height:35%; position: relative; float: left;">
                                0 %</div>
                            <div class="weather-DailyStatus-lbl">UV Index</div>
                            <div
                                style="width: 50%; font-size: 11px; letter-spacing: 1.5px; color:white; text-align:left; margin-top: 2%; height:35%; position: relative; float: left;">
                                7 (High)</div>
                        </div>
                    </div>
                    <div style="width: 50%; border:solid 1px white; position:relative; float: left; height:100%">

                    </div>
                </div>
                <div style="width:100%; height:50%; border: solid 1px white">

                </div>
            </div>
            <div style="background-color: blue; position:relative; width:50%; height: 100%; float: left;"></div>
        </div>
    </div>
</div> -->

<div class="mainBody">
    <div style="width: 90%; padding-top: 2%; margin:0 auto;">
    <header>
        <ul>
            <li class="text H2">REDLANDS, CA</li>
            <li class="text H1">TUESDAY, MARCH 11</li>
        </ul>
     </header>
    
    <section class="daynight" >
        <div class="box text small">
            <div>Day</div>
            <div><img src={{sunnyImg}} width="40%">
                <span class="lightfont" style="font-size: 4.0vw; font-weight:lighter;"> 32</span> 
            </div>
            <div style="font-size: 9px;">
                <div style="top: 50%; transform: translateY(-90%); ">Clear</div>
            </div>
                        
        </div>
        <div class="box text small">Night</div>
    </section>

    <section>

    </section>
</div>
</div>