<div id="mainContainer">

  <div class="leftNavigation">
    <left-navigation [leftMenu]="leftMenu"></left-navigation>
  </div>

  <div style="position: relative;float: left; height:99%; width:83.3%; transform:translateX(0.5%);">
    <div class="header text">
      <header-navigation></header-navigation>
    </div>
    <div style="height:81%; width:100%; margin-top:2%">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="rightNavigation">
    <right-navigation [rightMenu]="rightMenu"></right-navigation>
  </div>

</div>