<div style="width:100%; height:9% ; position: relative;">
    <div class="weeklyDayLabel" *ngFor='let day of weekDays'>{{day.name}}</div>
</div>

<div id="main" style="width:99%; height:90%; position:relative;">
    <div class="weeklyDay" *ngFor='let day of thisMonthCalender'>
        <div *ngFor='let bday of monthlyCalender.birthDays'>
            <!-- <div [ngStyle]="{'color': day.day == bday.dayOfMonth ? 'red' : '#2989d8', 'background-image'}" style="">
                {{day.day}} 
            </div> -->
            <div [ngClass]="(day.day == bday.dayOfMonth) ? 'dayBdayLabel' : 'dayLabel'" >
                {{day.day}} 
            </div>
        </div>
        
    </div>
</div>