<div class="dimmermainblock">

    <div class="dimmerindividualblock">
        <div class="controllabel">Kitchen</div>
        <div class="lightswitch">
            <app-lightswitch></app-lightswitch>
        </div>
        <div class="lightdimmer">
            <app-lightdimmer></app-lightdimmer>
        </div>

    </div>

    <div class="dimmerindividualblock">
        <div class="controllabel">Rumpus</div>
        <div class="lightswitch">
            <app-lightswitch></app-lightswitch>
        </div>
        <div class="lightdimmer">
            <app-lightdimmer></app-lightdimmer>
        </div>
    </div>

    <div class="dimmerindividualblock">
        <div class="controllabel">4 Season</div>
        <div class="lightswitch">
            <app-lightswitch></app-lightswitch>
        </div>
        <div class="lightdimmer">
            <app-lightdimmer></app-lightdimmer>
        </div>
    </div>
</div>

<div class="dimmermainblock">
    <div class="dimmerindividualblock">
        <div class="controllabel">Passage</div>
        <div class="lightswitch">
            <app-lightswitch></app-lightswitch>
        </div>
        <div class="lightdimmer">
            <app-lightdimmer></app-lightdimmer>
        </div>
    </div>

    <div class="dimmerindividualblock">
        <div class="controllabel">Bathroom</div>
        <div class="lightswitch">
            <app-lightswitch></app-lightswitch>
        </div>
        <div class="lightdimmer">
            <app-lightdimmer></app-lightdimmer>
        </div>
    </div>

    <div class="dimmerindividualblock">
        <div class="controllabel">Laundry</div>
        <div class="lightswitch">
            <app-lightswitch></app-lightswitch>
        </div>
        <div class="lightdimmer">
            <app-lightdimmer></app-lightdimmer>
        </div>
    </div>

</div>